{% extends "UrbikUserBundle::layout.html.twig" %}

{% block body %}
<h2 class="text-center">Registration/Inscription</h2>
<div class="container">
    <div class="well">
        {{ form(form) }}
    </div>
</div>
{% for message in app.flashes('notification') %}
    <p>
        {{ message }}
    </p>
{% endfor %}
{% endblock %}

