{% extends "UrbikUserBundle::layout.html.twig" %}

{% block body %}

<div class="container">
    <h4 class="text-center">Veuillez modifier votre adresse mail <br>pour la validation utilisateur</h4>
    <div class="text-center">
        {{ form(form )}}
    </div>
</div>

{% endblock %}