{% extends "UrbikUserBundle::layout.html.twig" %}

{% block body %}

  <div class="container">
    <br><br><br><br><br><br><br><br><br><br>
    <div class="row align-items-center">      
        {% if error %}
          <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}

      <div class="text-center">
        <form action="{{ path('login_check') }}" method="post" class="form-inline">
            <div class="form-group">
                <label for="username">Login :</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
            </div>
            
            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="_password" class="form-control" />
            </div>
        
            <input type="submit" value="Connexion" class="btn btn-success" />
          </form>
          <br><br><br><br><br>
          <a href="{{ path('urbik_user_homepage') }}" class="btn btn-primary">Retour accueil</a>
      </div>
    </div>
  

  </div>
  

{% endblock %}